html 
{
	  position: relative;
	  min-height: 100%;
}
body 
{
	  /* Margin bottom by footer height */
	  margin-bottom: 60px;
}
.footer 
{
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 50px;
	  background-color: #f5f5f5;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   width: 100%;
}
.paddingLeft{
	padding-left: 20px;
}
.navbar {
margin-bottom : 0px;
}

.iframeStyle{
border: 2px #f5f5f5 solid;
}

hr{
 margin-top: 0px; 
}
#frameDiv{
    overflow-x: auto;
    overflow-y: hidden;
}

ul.dropdown-menu li.dropdown-header:hover > ul.dropdown-menu {
    display: block;
	left: 90%;
	margin-top: -20px;
	cursor: pointer;
}
